# ------------------------------------------------------------------------------------------- #
# Maven                                                                                       #
# ------------------------------------------------------------------------------------------- #
target/
/.apt_generated/
# ------------------------------------------------------------------------------------------- #
# IntelliJ IDEA                                                                               #
# ------------------------------------------------------------------------------------------- #
.idea
# ------------------------------------------------------------------------------------------- #
# Environment                                                                                 #
# ------------------------------------------------------------------------------------------- #
*.properties
# ------------------------------------------------------------------------------------------- #
# Keystore Truststore                                                                         #
# ------------------------------------------------------------------------------------------- #
src/main/resources/Keystore/
src/main/resources/Truststore/