# ------------------------------------------------------------------------------------------- #
# Maven                                                                                       #
# ------------------------------------------------------------------------------------------- #
target/
/.apt_generated/
# ------------------------------------------------------------------------------------------- #
# IntelliJ IDEA                                                                               #
# ------------------------------------------------------------------------------------------- #
.idea
# ------------------------------------------------------------------------------------------- #
# Environment                                                                                 #
# ------------------------------------------------------------------------------------------- #
*.properties